@model SubscriberMessage

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Send message to Subscribers</h4>
              <form asp-controller="subscriber" asp-action="sendemail" method="post" class="forms-sample">
                <div class="form-group">
                    <label asp-for="Content">Message</label>
                    <textarea class="form-control" asp-for="Content"></textarea>
                </div>
                <button type="submit" class="btn btn-primary mr-2 text-white">Submit</button>
                <button asp-controller="subscriber" asp-action="index" class="btn btn-secondary text-white">Cancel</button>
              </form>
            </div>
          </div>
        </div>
    </div>
</div>

