@model Wishlist

@if (Model is not null) {
    foreach (var product in @Model.Products)
    {
        <tr>
            <td class="cart-product-remove"><a class="delete-wishlist" data-id="@product.Id">x</a></td>
            <td class="cart-product-image">
                <a href="product-details.html"><img src="~/assets/uploads/images/@product.Images.Where(n => n.IsMain == true).FirstOrDefault().Url" alt="#"></a>
            </td>
            <td class="cart-product-info">
                <h4><a href="product-details.html">@product.Title</a></h4>
            </td>
            <td class="cart-product-price">$@product.Price</td>
            <td class="cart-product-add-cart">
                <a class="add-basket" title="Add to Cart" data-id="@product.Id" data-bs-toggle="modal" data-bs-target="#add_to_cart_modal">Add to Cart</a>
            </td>
        </tr>
    }
}