@model Slider

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Slider - Create</h4>
              <form enctype="multipart/form-data" method="post" class="forms-sample">
                <div class="form-group">
                  <label asp-for="Title">Title</label>
                  <input asp-for="Title" class="form-control" placeholder="Create Title">
                </div>
                <div class="form-group">
                  <label asp-for="Content">Content</label>
                  <input asp-for="Content" class="form-control" placeholder="Create Content">
                </div>
                <div class="form-group">
                  <label asp-for="ImageFile">Image</label>
                  <input accept="image/*" class="form-control" asp-for="ImageFile">
                </div>
                <button type="submit" class="btn btn-primary mr-2 text-white">Submit</button>
                <button asp-controller="slider" asp-action="index" class="btn btn-secondary text-white">Cancel</button>
              </form>
            </div>
          </div>
        </div>
    </div>
</div>