@model Product

@{
    var locations = (List<Location>)ViewData["Locations"];
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Product - Create</h4>
                <div asp-validation-summary="All" class="text-danger"></div>
              <form enctype="multipart/form-data" method="post" class="forms-sample">
                <div class="form-group">
                  <label asp-for="Title">Title</label>
                  <input asp-for="Title" class="form-control" placeholder="Create Title">
                </div>
                <div class="form-group">
                  <label asp-for="Description">Description</label>
                  <input asp-for="Description" class="form-control" placeholder="Create Description">
                </div>
                <div class="form-group">
                    <label asp-for="Price">Price(For Month)</label>
                    <input asp-for="Price" class="form-control" placeholder="Add Price" />
                </div>
                <div class="d-flex">
                    <div class="form-group">
                    <label asp-for="BedroomCount">Bedroom Count</label>
                    <input asp-for="BedroomCount" class="form-control" placeholder="Add Bedroom Count" />
                    </div>
                    <div class="form-group">
                        <label asp-for="BathroomCount">Bathroom Count</label>
                        <input asp-for="BathroomCount" class="form-control" placeholder="Add Bathroom Count" />
                    </div>
                    <div class="form-group">
                        <label asp-for="SquareFt">Square FT</label>
                        <input asp-for="SquareFt" class="form-control" placeholder="Add Square FT" />
                    </div>
                </div>
                <div class="form-group">
                  <label asp-for="LocationId">Select Location</label>
                  <select class="form-control form-control-sm" asp-for="LocationId">
                      @foreach (var location in locations)
                     {
                          <option value="@location.Id">@location.LocationArea, @location.LocationCity</option>  
                     }
                  </select>
                </div>
                <div class="form-group">
                    <label asp-for="MainImage">Main Image</label>
                    <input accept="image/*" class="form-control" asp-for="MainImage">
                </div>
                <div class="form-group">
                    <label asp-for="ImageFile">Image</label>
                    <input accept="image/*" class="form-control" asp-for="ImageFile">
                </div>
                <h4>Current Images</h4>
                <div class="d-flex flex-wrap">
                     @for (var i = 0; i < Model.Images.Where(n => n.IsMain == false).ToList().Count; i++)
                {
                    <div class="col-lg-5 border py-2 mx-1 mt-1">
                        <img class="w-100" src="~/assets/uploads/images/@Model.Images.Where(n => n.IsMain == false).ToList()[i].Url" />
                        <div class="d-flex justify-content-center mt-3" >
                            <button class="btn btn-danger text-white" asp-controller="product" asp-action="deleteimage" asp-route-id="@Model.Images.Where(n => n.IsMain == false).ToList()[i].Id" >Delete</button>
                        </div>
                    </div>
                }
                </div>
                <div class="my-2">
                     <button type="submit" class="btn btn-primary mr-2 text-white">Submit</button>
                    <button asp-controller="product" asp-action="index" class="btn btn-secondary text-white">Cancel</button>
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>
</div>