@model Service

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Service - Create</h4>
              <form enctype="multipart/form-data" method="post" class="forms-sample">
                <div class="form-group">
                  <label asp-for="Title">Title</label>
                  <input asp-for="Title" class="form-control" placeholder="Create Title">
                </div>
                <div class="form-group">
                  <label asp-for="Description">Description</label>
                  <input asp-for="Description" class="form-control" placeholder="Create Description">
                </div>
                <div class="form-group">
                  <label asp-for="ServiceDetail.Content">Content</label>
                  <textarea class="form-control" asp-for="ServiceDetail.Content" rows="4"></textarea>
                </div>
                <div class="form-group">
                  <label asp-for="ServiceIcon">Service Icon</label>
                  <input accept="image/*" class="form-control" asp-for="ServiceIcon">
                </div>
                <div class="form-group">
                    <label asp-for="ImageFile">Image</label>
                    <input accept="image/*" class="form-control" asp-for="ImageFile">
                </div>
                <div class="form-group">
                    <label class="display-2" asp-for="ForHome">Publish HomePage</label>
                    <input class="text-left" asp-for="ForHome">
                </div>
                <button type="submit" class="btn btn-primary mr-2 text-white">Submit</button>
                <button asp-controller="slider" asp-action="index" class="btn btn-secondary text-white">Cancel</button>
              </form>
            </div>
          </div>
        </div>
    </div>
</div>