<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Service - Create</h4>
              <form class="forms-sample">
                <div class="form-group">
                  <label for="exampleInputUsername1">Title</label>
                  <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Create Title">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Content</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Create Content">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Image</label>
                  <input type="file" class="form-control" id="exampleInputPassword1" placeholder="Upload Image">
                </div>
                <button type="submit" class="btn btn-primary mr-2 text-white">Submit</button>
                <button asp-controller="slider" asp-action="index" class="btn btn-secondary text-white">Cancel</button>
              </form>
            </div>
          </div>
        </div>
    </div>
</div>